/* Lexend Deca 400 & Big Shoulders Display 700 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --clr-brightorange: hsl(31, 77%, 52%);
  --clr-darkcyan: hsl(184, 100%, 22%);
  --clr-verydarkcyan: hsl(179, 100%, 13%);

  --clr-transparentwhite-paragraghs: hsla(0, 0%, 100%, 0.75);
  --clr-lightgray-bg-head-buttons: hsl(0, 0%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

body {
  font-size: 15px;
  background-color: var(--clr-lightgray-bg-head-buttons);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border: 2px solid blue;
}

.sedan-box {
  background-color: var(--clr-brightorange);
  max-width: 375px;
}

.sedan-box-content {
  color: var(--clr-lightgray-bg-head-buttons);
  padding: 30px;
}

.sedan-box-content h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.suvs-box {
  background-color: var(--clr-darkcyan);
  max-width: 375px;
}

.suvs-box-content {
  color: var(--clr-lightgray-bg-head-buttons);
  padding: 30px;
}

.suvs-box-content h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.luxury-box {
  background-color: var(--clr-verydarkcyan);
  max-width: 375px;
}

.luxury-box-content {
  color: var(--clr-lightgray-bg-head-buttons);
  padding: 30px;
}

.luxury-box-content h2 {
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
